{% extends 'layouts/main.html' %}
{% block title %}Bugs{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Bugs</h1>
</div>

<div class="card">
  <h3>Add a bug</h3>
  <form class="custom-form" action="{{ url_for('add_bug') }}" method="post">
    <div class="form-group">
      <label>Title</label><br />
      <input type="text" name="title" placeholder="Enter a title .." />
    </div>
    <div class="form-group">
      <label>Description</label><br />
      <input type="text" name="description" placeholder="Enter a description .." />
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" />
    </div>
  </form>
</div>
{% if bugs %}
{% for bug_id, bug_value in bugs.items() %}
<br />
<div class="card">
  <div class="row">
    <div class="col-md-1">
      <form method="post" action="{{ url_for('upvote', type="bug", id=bug_id) }}">
        <input class="btn btn-block btn-success" value="upvote" type="submit" />
      </form>
      <form method="post" action="{{ url_for('downvote', type="bug", id=bug_id) }}">
        <input class="btn btn-block btn-warning" value="downvote" type="submit" />
      </form>
    </div>
    <div class="col-md-1">
      <h2>{{ bug_value['vote'] }}</h2>
    </div>
    <div class="col-md-8">
      <h4>{{ bug_value['title'] }}</h4>
      <p>{{ bug_value['description'] }}</p>
    </div>
    <div class="col-md-1">
      <a href="{{ url_for('edit', id=bug_id, type="bug") }}">Edit</a>
    </div>
    <div class="col-md-1">
      <form action="{{url_for('remove_bug', id=bug_id)}}" method="post">
        <input type="submit" class="btn btn-warning" value="Delete" />
      </form>
    </div>
  </div>
</div>
<br />
{% endfor %}
{% endif %}

{% endblock %}